* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-image: url(img/karkonosze.jpg);
    font-family: 'Merriweather', serif;
    height: 100vh;
}

#input-container {
    width: 80%;
    height: 150px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#input, #search-button {
    height: 50px;
    padding: 0 15px;
}

#input {
    border-radius: 10px 0 0 10px;
    width:350px;
}

#search-button {
    font-family: FontAwesome;
    font-size: 1.2rem;
    width: 80px;
    border: 1px solid rgb(93, 212, 93);
    border-radius: 0 10px 10px 0;
    background-color: rgb(93, 212, 93);
    color: rgb(250,250,250);
}

.main-container {
    padding: 25px;
    background-color: rgba(15,15,15,.8);
    color: rgb(235,235,235);
    border-radius: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#city-container__temp-choice {
    position: relative;
}

#temp-choice1, #temp-choice2 {
    position: relative;
    opacity: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  
  label {
    background-color: rgb(220,220,220);
    color: rgb(15,15,15);
    z-index: 2;
    padding: 5px 15px;
  }
  
  #label1  {
    border-radius: 10px 0 0 10px;
    position: absolute;
    right: 56px;
    top: 15px;
  }
  
  #label2  {
    border-radius: 0 10px 10px 0;
    position: absolute;
    right: 11px;
    top: 15px;
  }
  
  #temp-choice1:checked + #label1 {
    background-color: rgb(33, 155, 192);
    box-shadow:  -1px -1px 3px rgb(101, 213, 247), 1px 1px 3px rgb(101,213,247);
    transition: all .6s;
  }
  
  #temp-choice2:checked + #label2 {
    background-color: rgb(33, 155, 192);
    box-shadow:  -1px -1px 3px rgb(101, 213, 247), 1px 1px 3px rgb(101,213,247);
    transition: all .6s;
  }

main {
    width: 70%;
    margin: 0 auto;
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.5em;
    margin-top: 1.5em;
}

#temp-container {
    grid-row: 1/4;
    justify-content: start;
}

#temp-container__icon, #temp-container__temp-max, #temp-container__temp-min, #temp-container__temperature {
    width: 80%;
    display: flex;
}

#temp {
    font-size: 8rem;
}

#degrees {
    font-size: 2.5rem;
}

#temp-container__icon {
    align-items: center;
    justify-content: space-around;
}

#temp-container__temperature {
    justify-content: center;
}

#temp-container__temp-max, #temp-container__temp-min {
    margin-top: 50px;
    font-size: 1.5rem;
    justify-content: space-around;
}

#wind-direction {
    height:50px;
    width: 50px;
    position: relative;
}

#compass {
    width: 100%;
    height: 100%;
    background-color: rgb(235,235,235);
    border-radius: 50%;
}

#arrow {
    width: 60%;
    height: 60%;
    position: absolute;
    left: 12px;
    top: 10px;
    transition: transform 1.5s ease-out;
}

#location-info-container {
    margin-top: 1.5em;
}

#temp-container {
    height: auto;
    display: flex;
    flex-direction: column;
}

.main-container-column {
    flex-direction: column;
}

.sub-container {
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    width: 100%;
    background-color: rgb(15,15,15);
    color: rgb(245,245,245);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

/*________________________________MEDIA QUERIES__________________________*/
@media (max-width: 1200px) {
    body {
        height: auto;
    }

    footer {
        position: relative;
        margin-top: 1.5rem;
    }

    #grid-container {
        grid-template-columns: 1fr;
    }

    .sub-container {
        width: 50%;
    }

    .sub-container > p {
        padding: 10px;
    }
}

@media (max-width: 1000px) {
    .sub-container {
        width: 70%;
    }

    #location-info-container {
        flex-direction: column-reverse;
        text-align: center;
    }

    #location-info-container > p {
        padding: 10px;
    }
}

@media (max-width: 600px) {
    .sub-container {
        width: 100%;
    } 
}